# Ignore Visual Studio Project Files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.csproj.*
Debug/
*.assets.json
*.nuget.cache

# Ignore Build Results
Build/
Intermediate/

# Ignore Compiled Shaders
*.generated.h