[submodule "ThirdParty/Source/assimp"]
	path = ThirdParty/Source/assimp
	url = https://github.com/Aumoa/assimp
[submodule "ThirdParty/Source/freetype"]
	path = ThirdParty/Source/freetype
	url = https://github.com/Aumoa/freetype
[submodule "ThirdParty/Source/Vcpkg"]
	path = ThirdParty/Source/Vcpkg
	url = https://github.com/microsoft/vcpkg
