# Visual Studio Files
.vs/
*.sln
Engine/.vs
**/obj/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/x64/

# Visual Studio Code
.vscode
*.code-workspace

# Script Projects
*.Script.csproj
**/Script/bin
**/Script/obj
_codeql_detected_source_root
